<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic & Angular Test Point</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ionic & Angular Test Point</ion-card-subtitle>
      <ion-card-title>List</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>UI</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
